<app-file-conversion-ui title="Translate SRT" description="Translate SRT subtitles to another language"
    sourceIcon="fas fa-closed-captioning" targetIcon="fas fa-language" allowedExtensions=".srt"
    allowedExtensionsText="Supports .srt files" convertButtonText="Convert" [selectedFile]="selectedFile"
    [isConverting]="isConverting" [conversionStatus]="conversionStatus" [uploadProgress]="uploadProgress"
    [conversionResult]="conversionResult" (fileSelected)="onFileSelected($event)" (convert)="convert()"
    (reset)="reset()" (download)="saveFile()">
    <!-- Custom Options -->
    <div class="form-group dropdown-container" #sourceContainer>
        <label>Source Language</label>
        <div class="custom-select-trigger form-control" (click)="toggleSourceDropdown($event)">
            {{ getSourceLanguageName() }}
            <i class="fas fa-chevron-down arrow"></i>
        </div>
        <div class="custom-dropdown-options" *ngIf="isSourceDropdownOpen">
            <div class="dropdown-item" (click)="selectSourceLanguage('auto')">Auto Detect</div>
            <div class="dropdown-item" *ngFor="let key of languageKeys"
                (click)="selectSourceLanguage(supportedLanguages[key])">
                {{ key | titlecase }}
            </div>
        </div>
    </div>
    <div class="form-group dropdown-container" #targetContainer>
        <label>Target Language</label>
        <div class="custom-select-trigger form-control" (click)="toggleTargetDropdown($event)">
            {{ getTargetLanguageName() }}
            <i class="fas fa-chevron-down arrow"></i>
        </div>
        <div class="custom-dropdown-options" *ngIf="isTargetDropdownOpen">
            <div class="dropdown-item" *ngFor="let key of languageKeys"
                (click)="selectTargetLanguage(supportedLanguages[key])">
                {{ key | titlecase }}
            </div>
        </div>
    </div>
    <div class="form-group" style="grid-column: 1 / -1;">
        <label>Output Filename</label>
        <div class="input-wrapper">
            <i class="fas fa-file-alt"></i>
            <input type="text" [(ngModel)]="outputFilename" placeholder="converted">
        </div>
        <small>Extension is added automatically</small>
    </div>
</app-file-conversion-ui>
